/* PostModal.module.css */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
  max-height: 90vh;
  overflow: auto;
  border-radius: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  gap: 24px;
}

.column {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
}

.description {
  margin-bottom: 24px;
}

.descriptionTitle {
  font-weight: 700;
  margin-bottom: 8px;
}
